@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

*:focus {
    outline: 1px solid #3d5afe;
    color: #3d5afe !important;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: #e8eaf6;
    border-radius: 160px;
}

*::-webkit-scrollbar-thumb {
    background: #c5cae9;
    border-radius: 160px;
}

a {
    text-decoration: none;
}

.scroll-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #fff; /* Màu nền của header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng đổ */
}

.scroll-header.hidden {
    top: -100px; /* Khi cuộn xuống dưới, header sẽ biến mất */
}

.left-section {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Căn phần tử trong left-section về hai đầu */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 20px;
    width: 100%;
    background-color: transparent;
    box-shadow: none;
    margin-top: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
    border-radius: 50px; 
}

    font-weight: bold;
    color: #333;
    text-decoration: none;
    margin-top: 10px;
}

.userlogin {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 26px;
    margin-left: auto;
}

.userlogin a {
    color: #333;
    text-decoration: none;
     margin-right: 10px;
}

.userlogin a:hover {
    color: #3d5afe;
}

.tabs-container {
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.tabs {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.tabs li {
    display: inline-block;
    margin-right: 15px;
}

.tabs li:last-child {
    margin-right: 0;
}

.tabs li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 160px;
}

.tabs li a:hover {
    background-color: #f4f4f4;
}

.tabs li.active a {
    background-color: #ccc;
    color: #fff;
}

.cake-container-wrapper {
    padding: 0px; 
    margin-top: 20px;  
    width: 90%; 
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cake-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    border-radius:20px;
}

.cake-item {
    width: 150px;
    margin: 20px;
    text-align: center;
    border-radius:20px;
    border: 2px solid #ccc;
}

.cake-item img {
    width: 90%;
    height: auto; 
    aspect-ratio: 1/1;
    border-radius: 10px;
    object-fit: cover;
    border-radius: 50px;
    border: 6px solid #fff;
}

.cake-item h2 {
    margin-top: 10px;
    color: #333;
}

.cake-item p {
    margin-top: 5px;
    color: #757575;
}

.banquyen {
    margin-top:10px;
}
